.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  filter: blur(4px);
}

.movie::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.606);
  z-index: 1;
}
.movie {
  position: relative;
  height: 100%;
  width: 100%;
}
.movie-content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 25%;
  z-index: 2;
}

.movie-banner-details {
  max-width: 30%;
}

.movie-banner-details h1,
.movie-content p,
.movie-content button {
  margin: 25px 0;
}

.movie-content h1 {
  font-size: 60px;
}

.movie-content p {
  font-size: 20px;
}

.slider {
  width: 100%;
}

.watch-now {
  padding: 12px 24px;
  border: none;
  outline: none;
  background-color: red;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.movie-image {
  margin-top: -180px;
}

.movie-image img {
  border-radius: 30px;
}
